<%- include('partials/header.ejs') %> <%- include('partials/main_nav.ejs') %>

<div class="page container-fluid">
  <h1 class="text-center">Getting to know more <%= title %> Me....</h1>
  <div class="row">
    <div class="col">
      <p class="text-justify mx-4 pt-2">
        Hello! I am
        <span class="lead font-weight-bold">Ruth Jocelyn De Guzman</span> , a
        Software Engineering student here at Centennial College winter intake.
        To share you a little something about me, I earned my Degree in Bachelor
        of Science in Electronics and Communications Engineering (BSECE) from
        Technological University of the Philippines on March 28, 2003. And on
        Jan'2004, I was recognized in the Philippines as a Professional Licensed
        Engineer after passing the ECE Board Examination. Before I land here in
        Canada to study, I've worked as an Engineer for more than a decade
        across multinational companies globally such as Toshiba in the
        Philippines and Hitachi (now Western Digital),STMicroelectronics and
        Micron at Singapore. Because of my passion in working with data analysis
        and coding ever since I started working, I decided to shift my career to
        the software field which is the reason why I am here today.
      </p>
      <p class="text-justify mx-4">
        Allow me to share you a more deeper information about myself by clicking
        my Curriculum Vitae in the link below. Thank you for your time!
      </p>
      <p class="text-center">
        <a href="/Resume.pdf" width="500" height="375" type="application/pdf"
          >Ruth DeGuzman Curriculum Vitae</a
        >
        <p><img src="/Assets/images/me.jpg" style="
          max-width: 200px;
      "></p>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col"><div class="d-flex justify-content-center p-4">
      <div class="p-2 bd-highlight"><a href="/home">Home</a></div>
        <div class="p-2 bd-highlight"><a href="/about">About</a></div>
        <div class="p-2 bd-highlight"><a href="/projects">Projects</a></div>
        <div class="p-2 bd-highlight"><a href="/services">Services</a></div>
        <div class="p-2 bd-highlight">
          <a href="/contact-list">Contact List</a>
        </div>
    </div></div>
  </div>
</div>
<%- include('partials/bottom_nav.ejs') %> <%- include('partials/footer.ejs') %>
