<%- include('partials/header.ejs') %> <%- include('partials/main_nav.ejs') %>
<!-- <div class="page">
  <h1><%= title %></h1>

  <p>
    For more details we will be very happy to assist you. Please contact us
    through the following medium:<br /><br />
    <b
      >via Call: +1(437) 2594440 <br />
      <br />via Email: rdeguz23@my.centennialcollege.ca</b
    >
    <br /><br />
    Thank you for visting our webpage. We are looking forward to serve you more
    in the future!
  </p>
</div> -->
<div class="page container-fluid">
  <h1 class="text-center"><%= title %></h1>
  <div class="row">
    <div class="col">
      <p class="text-center my-4 pt-2 lead">
        For more details we will be very happy to assist you. Please contact us
        through the following medium:
      </p>
      <p class="text-center my-4">
        <i class="fas fa-phone fa-2x"> <span> +1(437) 2594440 </span></i><br />
      </p>
      <p class="text-center my-4">
        <i class="fas fa-envelope fa-2x">
          <span> rdeguz23@my.centennialcollege.ca </span></i
        ><br />
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p class="text-center my-4 pt-2 lead">
        Thank you for visting our webpage. We are looking forward to serve you
        more in the future!
      </p>
    </div>
  </div>
</div>
<%- include('partials/bottom_nav.ejs') %> <%- include('partials/footer.ejs') %>
