<%- include('partials/header.ejs') %> <%- include('partials/main_nav.ejs') %>

<div class="page">
  <h1><%= title %></h1>
  <p class="lead">We are offering a list of software services as follows:</p>
  <div id="list-example" class="list-group">
    <a
      class="list-group-item list-group-item-action"
      href="http://studentweb.cencol.ca/rdeguz23/Assignment1.html"
      >COMP213 Assignment1</a
    >
    <a
      class="list-group-item list-group-item-action"
      href="http://funwithlearning.byethost15.com/Assign2/assignment2.html"
      >COMP213 Assignment2</a
    >
    <a
      class="list-group-item list-group-item-action"
      href="http://studentweb.cencol.ca/rdeguz23/Assignment2.html"
      >COMP213 Bonus Assignment</a
    >
    <a
      class="list-group-item list-group-item-action"
      href="http://studentweb.cencol.ca/rdeguz23/Assignment4.html"
      >COMP125 Assignment4</a
    >
  </div>
</div>

<%- include('partials/bottom_nav.ejs') %> <%- include('partials/footer.ejs') %>
