<%- include('partials/header.ejs') %> <%- include('partials/main_nav.ejs') %>
<div class="page">
  <h1><%= title %></h1>
  <p class="lead">We are offering a list of software services as follows:</p>
  <div id="list-example" class="list-group">
    <a
      class="list-group-item list-group-item-action"
      href="https://miro.medium.com/max/1200/1*_Xqei5CDKIPJ7VewFuAPjA.png"
      target="_blank"
      >Learning to code with Javascript</a
    >
    <a
      class="list-group-item list-group-item-action"
      href="https://blog.eduonix.com/wp-content/uploads/2016/03/c-20.jpg"
      target="_blank"
      >C# Programming</a
    >
    <a
      class="list-group-item list-group-item-action"
      href="https://www.technotification.com/wp-content/uploads/2018/04/linux-tools-for-programmers-1024x597.jpg"
      target="_blank"
      >Linux Programming</a
    >
    <a
      class="list-group-item list-group-item-action"
      href="https://www.webxpert.ro/andrei/wp-content/uploads/2008/10/2008-10-15-215930-300x190.png"
      target="_blank"
      >SQL Data Modelling</a
    >
  </div>
</div>
<%- include('partials/bottom_nav.ejs') %> <%- include('partials/footer.ejs') %>
